DAWG2-Python==0.9.0
pyaes==1.6.1
pyasn1==0.6.4
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
PySocks==1.7.1
python-dotenv==1.2.2
python-socks==3.0.0
pytz==2026.3.post1
rsa==4.9.1
Telethon==1.44.0
tzdata